<style>
    .vh-50 {
        min-height: 50vh;
    }
</style>
<div class="vh-50 vw-100 bg-primary d-flex">
    <div class="container m-auto">
        <div class="row d-flex">
            <div class="col-3 my-auto">
                <img src="{{site.baseurl}}/assets/images/logo-dark-bg.png" alt="" class="m-auto img-fluid" />
                <h1 class="dispay-5 my-auto text-light">Wiser Saathi</h1>
            </div>
            <div class="col-5 my-auto">
                <p>
                    <a href="mailto:wisersaathi@gmail.com">wisersaathi@gmail.com</a>
                </p>
                <p>
                    <a href="tel:8681890138">8681890138</a>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <p class="text-center text-light">
                Made with care by MasterG Works Inc.
            </p>
        </div>
    </div>
</div>