---
layout: base
---
<link href="{{site.baseurl}}/css/home.css" rel="stylesheet" />
<div class="d-flex vw-100 vh-100" id="landing3">
    <div class="container p-5 rounded m-auto landing-card">
        <div class="row m-auto d-flex">
            <div class="col-md-6 d-flex">
                <img src="{{site.baseurl}}/assets/images/logo.svg" layout="fill"
                    class="m-auto img-fluid landing-image" />
            </div>
            <div class="col-md-6 m-auto">
                <h1 class="display-5">Welcome to</h1>
                <h1 class="display-1 fw-bolder">Wiser-Saathi</h1>
                <h2 class="display-6">
                    Get wiser opinions from those who have been there
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="d-flex vh-100 vw-100" id="about">
    <div class="container m-auto">
        <div class="row my-auto">
            <h1 class="display-3">About Us</h1>
        </div>
        <div class="row">
            <p>
                Have seen numerous success stories from the city and at some
                point wished to get that one opportunity to ask them How?
            </p>
            <p>
                By bringing together such toppers, or better call them...a
                mature and better informed version of You.
            </p>
            <p>
                We have all experienced the competitive surrounding among
                students ...now you have a better outlook and experimented
                advise on what to go for and what not.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid py-5 bg-light" id="streams">
    <div class="container">
        <div class="row">
            <h1 class="display-3">Streams Available</h1>
        </div>
        <div class="row row-cols-3 row-cols-lg-4 g-2 g-lg-3">
            <!-- <div class="d-grid gap-2 d-md-block"> -->
            {% for stream in site.data.streams %}
            <button class="col btn btn-primary bg-primary p-3 m-1">
                <a class="m-auto text-white text-center" href="{{site.baseurl}}{{stream.url}}">
                    {{stream.name}}
                </a>
            </button>
            {% endfor %}
        </div>
    </div>

    <!-- </div> -->
</div>
<div class="vh-100 vw-100 d-flex">
    <div class="container my-auto p-5 rounded bg-primary text-white">
        <div class="row">
            <h1 class="display-3">Contact Us</h1>
        </div>
        <div class="row">
            <p>
                You can contact us via mail at
                <a href="mailto:wisersaathi@gmail.com">wisersaathi@gmail.com</a>
                or call us at <a href="tel:8681890138">8681890138</a>
            </p>
        </div>
        <form class="row" method="POST" action="https://formspree.io/f/mayarkyo">
            <div class="mb-3 col-md-6">
                <label htmlFor="exampleInputEmail1" class="form-label">
                    Email address
                </label>
                <input type="text" name="_replayto" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">
                    We will never share your email with anyone else.
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <label htmlFor="exampleInputName" class="form-label">
                    Name
                </label>
                <input type="text" name="contact person" class="form-control" id="exampleInputName"
                    aria-describedby="nameHelp" />
            </div>
            <div class="mb-3 col-12">
                <label htmlFor="exampleInputMessage" class="form-label">
                    Message
                </label>
                <textarea name="message" class="form-control" id="exampleInputMessage"
                    aria-label="message Help"></textarea>
            </div>
            <div class="my-3 col-12">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container d-flex  vh-100 vw-100">
        <div class="row my-auto">
            <div class="col-md-6">
                <h4 class="display-5">
                    Confused about career options and do not know whom to ask?
                </h4>
                <h1 class="display-2  fw-bold">Wiser-Saathi</h1>
                <h3 class="display-4">is there for you</h3>
            </div>
            <div class="col-md-6">
                <img src="{{site.baseurl}}/assets/images/landing_2.svg" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>